{
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "endOfLine": "lf",
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "jsxSingleQuote": false,
  "printWidth": 160,
  "proseWrap": "preserve",
  "quoteProps": "consistent",
  "requirePragma": false,
  "singleAttributePerLine": true,
  "singleQuote": false,
  "trailingComma": "es5",
  "vueIndentScriptAndStyle": true
}
